# Manual installs for checking: uv

# Required
OPENAI_API_KEY= 'openai_key'
TAVILY_API_KEY= 'tavily_key'

# Optional additional keys
ANTHROPIC_API_KEY='your_anthropic_api_key_here'
GOOGLE_API_KEY='your_google_api_key_here'

# Optional for evaluation and tracing
LANGSMITH_API_KEY= 'langsmith_key'

# Set tracing to true after setting up LangSmith account
LANGSMITH_TRACING=true
LANGSMITH_PROJECT= 'project_name'

# Uncomment the following if you are on the EU instance:
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
